---
name: go
on:
  push:
  pull_request:
jobs:
  lint: # <- name
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - uses: golangci/golangci-lint-action@v9
        # TODO: remove once caching bug is fixed https://github.com/golangci/golangci-lint-action/issues/420#issuecomment-3530581599
        with:
          skip-cache: true
        #/TODO

  test-unit: # <- name
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - run: go run github.com/onsi/ginkgo/v2/ginkgo run -r --skip-package integration
